.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    
    
}
.quickcontact {
    background-color: #00796b;
    height: 40px;
    line-height: 40px;
}
.quickcontact-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-style: normal;
}
.contact i .icsmart{
    padding-left: 10px;
} 
.icofont-smart-phone {
    padding-left: 15px;
    color: #fff;
}
.icofont-email {
    color: #fff;
}
.contact span {
    color:#fff;
    font-size: 14px;
    font-style: normal;
}
.socialconnect a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    margin-left: 20px;
    font-size: 14px;
}
.socialconnect a:hover  i {
    color: #fff;
}
.header{
    background-color: #008374;
    height: 90px;
    z-index: 997;
}
.header-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.logo a{
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    line-height: 90px;
    font-family: "Montserrat", sans-serif;
}
.logo span{
    color: #f96f59;
}
.list.navbar {
   display: flex;
   align-items: center;
   position: relative;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
}
.navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}
.navbar ul li{
    white-space: nowrap;
    padding: 10px 0 10px 28px;
    line-height: 90px;
}
.navbar a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: rgba(255, 255, 255, 0.6);
    white-space: nowrap;
    position: relative;
    text-decoration: none;
}
.navbar ul li:hover a{
    color: #fff;
}
.navbar ul li a::before {
    content: "";
    height: 2px;
    background-color: #f96f59;
    width: 0px;
    position: absolute;
    left: 0;
    top: 60%;
    transition: all 1s;

}
.navbar ul li:hover > a::before{
    width: 100%;
    transition: all 1s;
}
.banner{
    background-color: #008374;
    height: auto;
    padding: 60px 0 0 0;
    width: 100%;
    padding-bottom: 200px;
}
.banner-flex{
    width: 100%; 
    display: flex;
    position: relative;
}
.bannertext{
    width: 50%;
}
.bannerimage {
    width: 50%;
}
.bannertext h1{
    font-size: 48px;
    font-weight: 700;
    padding-top: 65px;
    margin-bottom: 20px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
}
.bannertext p{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    margin-bottom: 30px;
    font-size: 16px;
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.bannerbutton {
    display: flex;
    flex-wrap: wrap;
    
}
.bannerbutton button {
    font-weight: 500;
    font-size: 15px;
    font-family:"Montserrat", sans-serif; 
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 40px;
    border-radius: 50px;
    transition: 0.3s;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px rgb(0 0 0 / 8%);
    border: 2px solid rgba(255, 255, 255, 0.1);
}
.bannerbutton a{
    color: #fff;
    text-decoration: none;
    justify-content: flex-start;
}
.bannerbutton span {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
     padding-top: 18px;
}
.bannerbutton .icofont-play-alt-2 {
    font-size: 32px;
    margin-left: 25px; 
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    padding-top: 40px;
    margin-right: 8px; 
}
.bannerbutton a{
    padding-top: 10px;
}
.bannerbutton a:hover i{
    color: #fff;
}
.bannerbutton a:hover span {
    color: #fff;
}
.boxes {
    background-color:#fff;
    height: auto;
    padding-top: 60px;
    padding-bottom: 80px;

}
.boxes-flex{
    display: flex;
    box-sizing: border-box;
    position: absolute;
    width: 88%;
    top: 105%; 
}
.boxes-flex .box-1{
    width: 23%;
    height: auto;
    box-sizing: border-box;
    margin-right: 20px;
    position: relative;
    top: 105%;
}
.box-1 {
    padding: 60px 30px;
    background: #008d7d;
    box-shadow: 0 0 29px 0 rgb(0 0 0 / 8%);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
    height: 100%;
    width: 100%;
    text-align: center;
}
.box-1 i{
    margin-bottom: 20px;
    padding-top: 10px;
    display: inline-block;
    font-size: 48px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.6);
}
.box-1 h2{
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
    color: #fff;
    
}
.box-1 a{
    text-decoration: none;
}
.boxes-flex :hover i {
    color: #fff;
}
.about {
    padding-top: 30px;
}
.about-flex{
    display: flex;
    width: 100%;
}
.aboutimage {
    width: 50%;

}
.abouthead h2{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    font-size: 32px;
    font-weight: 600;
    font-family:  "Montserrat", sans-serif;
}
.abouthead .hrline::before{
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background: #008374;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.abouthead p{
    display: flex;
    padding-top: 18px;
    padding-bottom: 18px;
    justify-content: center;
}
